/* define animation */
/* moveInLeft move from left to righ! */
@keyframes moveInLeft{
    0% {
        opacity: 0;
        /* initial position */
        transform: translateX(-10rem) ;
    }

    80% {
        /* 80% position */
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        /* at 100%, we want the element to be in the original position */
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        /* initial position */
        transform: translateX(10rem);
    }

    80% {
        /* 80% position */
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        /* at 100%, we want the element to be in the original position */
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        /* initial position */
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        /* at 100%, we want the element to be in the original position */
        transform: translate(0);
    }
}
